html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(2, 0, 36);
/*  background: linear-gradient(356deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
}

section {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.game-container {
    display: flex;
    height: 600px;
    width: 600px;
}

table tr td {
    height: 200px;
    width: 200px;
    text-align: center;
}

#start td, #finish td {
    height: 50px;
}

td img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}
